@font-face {
  font-family: Efflux;
  src: url("../Efflux/Efflux.otf");
}
@font-face {
  font-family: Maze;
  src: url("../Maze/Maze.otf");
}
@font-face {
  font-family: GoodDay;
  src: url("../Good Day/Good-Day.otf");
}
@font-face {
  font-family: Sicko;
  src: url("../Sicko/Sicko.otf");
}
@font-face {
  font-family: qtpi;
  src: url("../qtpi/qtpi.otf");
}
html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.preview {
  display: flex;
  justify-content: space-around;
}

.font {
  position: relative;
}
.font a {
  position: absolute;
  bottom: 0;
  right: 0;
}

.efflux {
  font-family: Efflux;
}

.maze {
  font-family: Maze;
}

.good-day {
  font-family: GoodDay;
}

.sicko {
  font-family: Sicko;
}

.qtpi {
  font-family: qtpi;
}

h1, .subtext {
  text-align: center;
}
